<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%= user._id %>" method="post">
        <input type="text" name="name" placeholder="name" value="<%=user.name%>"><br/>
        <input type="email" name="username" placeholder="Email" value="<%=user.username%>"><br/>
        <input type="password" name="password" placeholder="password" value="<%=user.name%>"><br/>
        <button type="submit" >Submit</button>
    </form>
</body>
</html>